# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env.local

Job Seekeer Home

import CurrentSearch from "@/components/HomeComp/CurrentSearch";
import CategorySearch from "@/components/JobSeeker/CategorySearch";
import Jobs from "@/components/JobSeeker/Jobs";
import JobSeekerNav from "@/components/JobSeeker/JobSeekerNav";
import SearchBar from "@/components/JobSeeker/SearchBar";

 {/* <JobSeekerNav/> */}

      {/* <div className=' items-center justify-center flex mb-9'>

        <SearchBar/>

  
        </div>
       
        <div className=' flex gap-10 mx-7 '>

        <CategorySearch/>
        <Jobs/>
        </div> */}